<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <header>
    <h1>Biblioteca Virtual</h1>
  </header>
  <main>
    <form id="loginForm">
      <h2>Login</h2>
      <input type="email" id="email" placeholder="Email" required>
      <input type="password" id="password" placeholder="Senha" required>
      <button type="submit" class="btn">Entrar</button>
      <p>Não tem uma conta? <a href="register.html">Registre-se</a></p>
    </form>
  </main>
  <script src="../js/auth.js"></script>
</body>
</html>